<!--
  See:

    https://schema.org/Organization
-->
<div vocab="http://schema.org/" typeof="Organization">
  <header>
    <h3 property="name">{{name}}</h3>
  </header>

  <footer>
  {% for action in potentialAction.target %}
    <nav>
      <a href="{{action.url}}">
        <img src="{{action.image}}" alt="Image">
        {{potentialAction.name}}
      </a>
    </nav>
  {% endfor %}
  </footer>

  <div>
  {% for event in events %}
    {% include SportsEvent.html with event %}
  {% endfor %}
  </div>
</div>
